{% extends 'base-layer.html' %}
{% load staticfiles %}

{% block css %}

<link rel="stylesheet" href="{%static 'plugins/select2/select2.min.css' %}">
<link rel="stylesheet" href="{% static 'js/plugins/layer/skin/layer.css' %}">
<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-datetimepicker.min.css' %}">
<link rel="stylesheet" href="{% static 'plugins/fileinput/fileinput.css' %}">


{% endblock %}
{% block main %}
<div class="box box-danger">





	<form class="form-horizontal" id="addForm" method="post">
		{% csrf_token %}
        <input type="hidden" name='work_order' value="{{ work_order.id }}" />
        <input type="hidden" name='number' value="{{ work_order.number }}" />
        <input type="hidden" name='name' value="{{ request.user.id }}" />
        <input type="hidden" name='record_type' value="{{ record_type }}" />
        <div class="box-body">
          <fieldset>
            <legend>
              <h4>Return receipt</h4>

            </legend>

            <div class="form-group has-feedback">
                <label class="col-sm-2 control-label">Recepit record</label>

                <div class="col-sm-8">
                    <textarea class="form-control" name="content" rows="5" ></textarea>
                </div>
            </div>
              <small class="text-red">This is just to send the text receipt information, if you want to send a signed SLA, please go back and click on the right to upload the signed SLA. </small>

          </fieldset>
		</div>

{#        <div class="box-body">#}
{#          <fieldset>#}
{#            <div class="form-group has-feedback">#}
{#                <label class="col-sm-2 control-label">文件上传</label>#}
{#                <div class="col-sm-8">#}
{#                    <div class="file-loading">#}
{#                        <input id="file_content" name="file_content" class="form-control" type="file"/>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#          </fieldset>#}
{#            <fieldset>#}
{#                <div class="form-group has-feedback">#}
{#                    <label class="col-sm-2 control-label"></label>#}
{#                    <div class="col-sm-8">#}
{#                        <small class="text-red">文件上传格式.zip压缩文件，文件最大为50M，只有填写过执行记录才可以上传文件</small>#}
{#                        <small class="text-ret"><strong><p>备注：上传配置资料需先填写执行记录后再上传文件</p></strong></small>#}
{#                    </div>#}
{#                </div>#}
{#            </fieldset>#}
{#        </div>#}

		<div class="box-footer ">
			<div class="row span7 text-center ">
              <button type="button" id="btnCancel" class="btn btn-default margin-right " >Reset</button>
              <button type="button" id="btnSave" class="btn btn-info margin-right " >Save</button>
			</div>
		</div>
    </form>



</div>

{% endblock %}

{% block javascripts %}
<script type="text/javascript">

	$("#btnSave").click(function(){
		var data = $("#addForm").serialize();
		$.ajax({
			type: $("#addForm").attr('method'),
			url : "{% url 'personal-workorder-execute' %}",
			data : data,
			cache: false,
            beforeSend:function(){
			    this.layerIndex = layer.load(1, {
                    shade: [0.1,'#fff'] //0.1透明度的白色背景
                });
            },
			success : function(msg) {
			    layer.closeAll('loading');
				if (msg.status == 'success'){
					layer.alert('The receipt has been confirmed! Mail sending error', {icon: 0},function(index){
					    parent.layer.closeAll(); //关闭所有弹窗
                    });
				}else if (msg.status == 'fail'){
					layer.alert('Please complete the information！', {icon: 5});
				}else if (msg.status == 'success_send'){
					layer.alert('The receipt has been confirmed and the notification email has been sent successfully！', {icon: 1},function(index){
					    parent.layer.closeAll(); //关闭所有弹窗
                    });
				}else if (msg.status == 'ban'){
					layer.alert(' Present is prohibited', {icon: 4},function(index){
					    parent.layer.closeAll(); //关闭所有弹窗
                    });
				}
				return ;
			}
		});
	});

	/*点取消刷新新页面*/
    $("#btnCancel").click(function () {
	    window.location.reload();

    })


/*input 时间输入选择*/
</script>

{#<script src="{% static 'plugins/fileinput/fileinput.js' %}"></script>#}
{#<script src="{% static 'plugins/fileinput/zh.js' %}"></script>#}
{#<script type="text/javascript">#}
{##}
{##}
{#// 获取表单数据#}
{##}
{##}
{#//上传文件#}
{##}
{#$(document).on('ready', function() {#}
{#    $("#file_content").fileinput({#}
{#        language: "en",#}
{#        showPreview: false,#}
{#        showUpload: true,#}
{#        allowedFileExtensions: ["pdf"],#}
{#        uploadUrl: "{% url 'personal-workorder-upload' %}",#}
{#        uploadExtraData: {#}
{#            'csrfmiddlewaretoken': '{{ csrf_token }}',#}
{#            'id': '{{ work_order.id }}',#}
{#        },#}
{#        maxFileCount: 1,#}
{#        maxFileSize: 51200,#}
{#    });#}
{#});#}
{##}
{#</script>#}




{% endblock %}
